$dark: #2C3E50;  
$red: #E74C3C;  
$white: #ECF0F1;  
$mid: #3498DB;  
$light: #2980B9;
$headerType: Helvetica, sans-serif;
$bodyType: Georgia, serif;

@import 'layout';
@import 'type';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

img {
	width: 100%;
	@include border-radius (30px);
}
header {
	width: 65%;
}
section {
	header {
		width: 100%;
	}
}
nav {
	a {
	text-decoration: none;
	color: $dark;
	}
}
